flows.json
[{"id":"1866d387.01c07c","type":"alexa-remote-routine","z":"b1c855c4.4b5df8","name":"","account":"ee3b6f15.dc157","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"ACHOO"},"devices":["G090L91071741NN3"]}},"x":580,"y":120,"wires":[[]]},{"id":"63768b1a.581084","type":"http in","z":"b1c855c4.4b5df8","name":"","url":"/normalSneaze","method":"get","upload":false,"swaggerDoc":"","x":210,"y":120,"wires":[["1866d387.01c07c"]]},{"id":"bb49ace.2cc2a5","type":"http in","z":"b1c855c4.4b5df8","name":"","url":"/menoSneaze","method":"get","upload":false,"swaggerDoc":"","x":210,"y":280,"wires":[["e728e230.d86f"]]},{"id":"e728e230.d86f","type":"alexa-remote-routine","z":"b1c855c4.4b5df8","name":"","account":"ee3b6f15.dc157","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"ACHOO I Am SNEAZING you little binch"},"devices":["G090L91071741NN3"]}},"x":600,"y":280,"wires":[[]]},{"id":"7eb394db.32b3bc","type":"http in","z":"b1c855c4.4b5df8","name":"","url":"/menobenoSneaze","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["2cb8b167.d2706e"]]},{"id":"2cb8b167.d2706e","type":"alexa-remote-routine","z":"b1c855c4.4b5df8","name":"","account":"ee3b6f15.dc157","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"SAY BLESS YOU YOU FUCK"},"devices":["G090L91071741NN3"]}},"x":620,"y":360,"wires":[[]]},{"id":"4abc7341.c133dc","type":"alexa-local","z":"b1c855c4.4b5df8","devicename":"You","inputtrigger":false,"x":150,"y":420,"wires":[["b3c276fe.a26e28"]]},{"id":"b3c276fe.a26e28","type":"http request","z":"b1c855c4.4b5df8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/end","tls":"","proxy":"","authType":"","x":630,"y":420,"wires":[[]]},{"id":"ee3b6f15.dc157","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]